<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Megrim|Nunito+Sans:400,900" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/f5a3f181f4.js" crossorigin="anonymous"></script>

    <script src="/main.js" defer></script>

    <title>Weather App</title>
</head>

<body>
    <div class="location">
        <h2>%COUNTRY_NAME%</h2>
        <h4>%CITY_NAME%</h4>
    </div>
    <div class="container">
        %FORECASTCARDS%
    </div>
</body>

</html>