<div class="card">
    <div class="info">
        <h3>%DATE%</h3>
        <h3>%CONDITION%</h3>
        <h3>%WIND_SPEED% mph</span></h3>
        <h3>Chance of Rain: <span>%COR%%</span></h3>
    </div>

    <div class="temperature">
        <div class="img">
            <img src="%ICON%" </img>
        </div>
        <h1>%TEMP%<span class="unit">&#8451</span></h1>
        <div class="max_min">
            <h3>Min: %MINTEMP%<span class="unit">&#8451</span></h3>
            <h3>Max: %MAXTEMP%<span class="unit">&#8451</span></h3>
        </div>

    </div>
    <div class="hourly">
        %HOURLY%
    </div>
</div>