<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Megrim|Nunito+Sans:400,900" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/f5a3f181f4.js" crossorigin="anonymous"></script>

    <script src="/main.js" defer></script>

    <title>Weather App</title>
</head>

<body>

    <div class="location">
        <h2>%COUNTRY_NAME%</h2>
        <h4>%CITY_NAME%</h4>
    </div>
    <div class="forecast_icon">
        <a href="/forecast"><i class="fa-regular fa-calendar-days"></i></a>
    </div>
    <div class="container">
        <div class="card active" style="margin: 0 auto">
            <div class="info">
                <h3>%CONDITION%</h3>
                <h3>Wind: <span>%WIND_SPEED% mph %WIND_DIR%</span></h3>
                <h3>Precip: <span>%PRECIP%mm</span></h3>
                <h3>Feels like<span>%FEELSLIKE%&#8451</span></h3>
                <h3>Humidity: <span>%HUMID%%</span></h3>
            </div>

            <div class="temperature">
                <div class="img">
                    <img src="%IMG_SRC%" </img>
                </div>
                <h1>%TEMPERATURE%<span class="unit">&#8451</span></h1>
            </div>
            <div class="error_msg hide">
                %ERROR_MESSAGE%
            </div>
            <form class="form" action="/location" method="get">
                <input class="location_input" name="q" type="text" placeholder="Enter location 🔍">
            </form>
        </div>
    </div>
</body>

</html>